// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background: #ececec;
}
img {
  height: auto;
  max-width: 100%;
}
.content{
  margin-top: 50px;
}
.product {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  height: 390px;
  overflow: hidden;
  padding: 25px 15px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px;
}
.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-image {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}
.product-title a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.product-desc {
  max-height: 60px;
  overflow: hidden;
}
.product-price {
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
  color: #d51e08;
  font-size: 18px;
  font-weight: 500;
}

img {
  height: auto;
  max-width: 100%;
}
.product-img {
  height: 200px;
}

.product-desc {
  max-height: 60px;
  overflow: hidden;
}

.product-price {
  bottom: 25px;
  left: 0;
  position: absolute;
  width: 100%;
  color: #d51e08;
  font-size: 15px;
  font-weight: 500;
}
.product-cate {

}

.carousel-image {
  max-width: 500px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}